@keyframes roll { 
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}}
@-moz-keyframes roll { 
	100% {-moz-transform: rotate(360deg)}}
@-webkit-keyframes roll { 
	0% {transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}}

@keyframes swing{
	0%{transform:rotate(-3deg)}
	50%{transform:rotate(3deg)}
	100%{transform:rotate(-3deg)}}
@-moz-keyframes swing{
	0%{-moz-transform:rotate(-3deg)}
	50%{-moz-transform:rotate(3deg)}
	100%{-moz-transform:rotate(-3deg)}}
@-webkit-keyframes swing{
	0%{-webkit-transform:rotate(-3deg)}
	50%{-webkit-transform:rotate(3deg)}
	100%{-webkit-transform:rotate(-3deg)}}
