.clickable {
	cursor: pointer;
}

body {
	font-family: Courier New;
	transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-webkit-transition: background-color 500ms linear;
}

/** 1200 PIXELS **/

@media screen and (min-width: 1200px) {

	body {
		font-size: 22px;
	}

	div#wrapper {
		width: 1200px;
	}

	iframe#video {
		width: 262px;
		height: 206px;
		top: 373px;
		left: 467px;
	}

	div#header {
		background: no-repeat center url("img/1200/header.png");
		width: 1200px;
		height: 909px;
	}

	div#players-wrapper {
		top: 45px;
		width: 1200px;
	}

	div#banner {
		background: no-repeat center url("img/1200/banner.png");
		top: 749px;
		left: 597px;
		width: 30px;
		height: 1686px;
	}

	div#logos {
		background: no-repeat center url("img/1200/logos.png");
		left: 102px;
		top: 800px;
		width: 820px;
		height: 151px;
	}
	
	span.sender-name {
		width: 486px;
		margin-left: 110px;
		font-size: 22px;
	}

	div.players {
		background: no-repeat center url("img/1200/players.png");
		width: 855px;
		height: 1314px;
		margin-top: 26px;
		margin-left: 104px;
	}

	div.happy2013 {
		background: no-repeat center url("img/1200/felic2013.png");
		height: 32px;
		width: 231px;
	}
	div.happy2013.penguins { margin-left: 111px }
	div.happy2013.rpx { margin-left: 652px }
	
	audio {
		width: 443px;
		height: 30px; 
	}
	audio.tune1 { top: 821px }
	audio.tune2 { top: 1322px }
	audio.rpx { left: 549px }
	audio.penguins { left: 0 }

	div.mini-envelope {
		background: no-repeat center url("img/1200/mini-envelope.png");
		width: 108px;
		height: 186px;
	}
	div.mini-envelope.rpx { left: 336px }
	div.mini-envelope.penguins { left: 884px }
	div.mini-envelope.tune1 { top: 625px }
	div.mini-envelope.tune2 { top: 1125px }

	div.vinyl {
		width: 293px;
		height: 293px;
	}
	div.vinyl.penguins.tune1 { background: no-repeat center url("img/1200/vinyl-penguins-1.png") }
	div.vinyl.penguins.tune2 { background: no-repeat center url("img/1200/vinyl-penguins-2.png") }
	div.vinyl.rpx.tune1 { background: no-repeat center url("img/1200/vinyl-rpx-1.png") }
	div.vinyl.rpx.tune2 { background: no-repeat center url("img/1200/vinyl-rpx-2.png") }
	div.vinyl.rpx { left: 549px }
	div.vinyl.penguins { left: 0px }
	div.vinyl.tune1 { top: 408px }
	div.vinyl.tune2 { top: 908px }

	div#envelope {
		background: no-repeat center url("img/1200/envelope.png");
		height: 1008px;
	}
	form#card {
		padding-top: 200px;
		height: 808px;
		width: 578px;
	}
	div.field {
		width: 430px;
		margin: 0 0 20px 70px;
	}
	div.field input,
	div.field textarea {
		font-size: 14px;
		line-height: 22px;
	}
	div.field textarea {
		height: 200px;
	}
	div.button-field {
		margin: 30px 0 0 0;
	}
	div.button-field button {
		font-size: 22px;
		padding: 4px 10px 2px 10px;
	}
}

/** 960 PIXELS **/

@media screen and (min-width: 960px) and (max-width: 1200px) {

	body {
		font-size: 20px;
	}

	div#wrapper {
		width: 960px;
	}

	iframe#video {
		left: 373px;
		top: 298px;
		width: 210px;
		height: 166px;
	}
	
	div#header {
		background: no-repeat center url("img/960/header.png");
		width: 960px;
		height: 727px;
	}
	
	div#players-wrapper {
		width: 960px;
		top: 35px;
	}

	div#banner {
		left: 478px;
		top: 599px;
		background: no-repeat center url("img/960/banner.png");
		width: 24px;
		height: 1350px;
	}

	div#logos {
		background: no-repeat center url("img/960/logos.png");
		left: 78px;
		top: 639px;
		width: 665px;
		height: 121px;
	}

	span.sender-name {
		width: 390px;
		font-size: 18px;
		margin-left: 88px;
	}

	div.players {
		background: no-repeat center url("img/960/players.png");
		width: 685px;
		height: 1033px;
		margin-top: 40px;
		margin-left: 83px;
	}

	div.happy2013 {
		background: no-repeat center url("img/960/felic2013.png");
		height: 27px;
		width: 185px;
	}
	div.happy2013.penguins { margin-left: 88px }
	div.happy2013.rpx { margin-left: 523px }

	audio {
		width: 350px;
		height: 28px; 
	}
	audio.tune1 { top: 637px }
	audio.tune2 { top: 1040px }
	audio.rpx { left: 439px }
	audio.penguins { left: 0 }

	div.mini-envelope {
		background: no-repeat center url("img/960/mini-envelope.png");
		width: 86px;
		height: 149px;
	}
	div.mini-envelope.rpx { left: 266px }
	div.mini-envelope.penguins { left: 705px }
	div.mini-envelope.tune1 { top: 479px }
	div.mini-envelope.tune2 { top: 882px }

	div.vinyl {
		width: 234px;
		height: 234px;
	}
	div.vinyl.penguins.tune1 { background: no-repeat center url("img/960/vinyl-penguins-1.png") }
	div.vinyl.penguins.tune2 { background: no-repeat center url("img/960/vinyl-penguins-2.png") }
	div.vinyl.rpx.tune1 { background: no-repeat center url("img/960/vinyl-rpx-1.png") }
	div.vinyl.rpx.tune2 { background: no-repeat center url("img/960/vinyl-rpx-2.png") }
	div.vinyl.rpx { left: 439px }
	div.vinyl.penguins { left: 0 }
	div.vinyl.tune1 { top: 308px }
	div.vinyl.tune2 { top: 708px }

	div#envelope {
		background: no-repeat center url("img/960/envelope.png");
		height: 806px;
	}
	form#card {
		padding-top: 160px;
		height: 646px;
		width: 462px;
	}
	div.field {
		width: 344px;
		margin: 0 0 16px 56px;
	}
	div.field input,
	div.field textarea {
		font-size: 14px;
		line-height: 22px;
	}
	div.field textarea {
		height: 160px;
	}

	div.button-field {
		margin: 22px 0 0 0;
	}
	div.button-field button {
		font-size: 20px;
		padding: 4px 10px 2px 10px;
	}
}


/** 640 PIXELS **/

@media screen and (max-width: 960px) {

	body {
		font-size: 12px;
	}

	div#wrapper {
		width: 640px;
	}

	iframe#video {
		left: 248px;
		top: 199px;
		width: 140px;
		height: 110px;
	}

	div#header {
		background: no-repeat center url("img/640/header.png");
		width: 640px;
		height: 485px;
	}

	div#players-wrapper {
		width: 640px;
		top: 22px;
	}

	div#banner {
		left: 319px;
		top: 399px;
		background: no-repeat center url("img/640/banner.png");
		width: 16px;
		height: 903px;
	}
	div#logos {
		left: 55px;
		top: 426px;
		width: 437px;
		height: 81px;
		background: no-repeat center url("img/640/logos.png");

	}

	span.sender-name {
		width: 258px;
		font-size: 14px;
		margin-left: 59px;
	}

	div.players {
		background: no-repeat center url("img/640/players.png");
		width: 457px;
		height: 690px;
		margin-top: 24px;
		margin-left: 54px;
	}

	div.happy2013 {
		background: no-repeat center url("img/640/felic2013.png");
		height: 19px;
		width: 124px;
	}
	div.happy2013.penguins { margin-left: 58px }
	div.happy2013.rpx { margin-left: 348px }
	
	audio {
		width: 255px;
		height: 25px; 
	}
	audio.tune1 { top: 427px }
	audio.tune2 { top: 695px }
	audio.rpx { left: 292px }
	audio.penguins { left: 0 }

	div.mini-envelope {
		background: no-repeat center url("img/640/mini-envelope.png");
		width: 59px;
		height: 100px;
	}
	div.mini-envelope.rpx { left: 197px }
	div.mini-envelope.penguins { left: 489px }
	div.mini-envelope.tune1 { top: 320px }
	div.mini-envelope.tune2 { top: 587px }

	div.vinyl {
		width: 157px;
		height: 157px;
	}
	div.vinyl.penguins.tune1 { background: no-repeat center url("img/640/vinyl-penguins-1.png") }
	div.vinyl.penguins.tune2 { background: no-repeat center url("img/640/vinyl-penguins-2.png") }
	div.vinyl.rpx.tune1 { background: no-repeat center url("img/640/vinyl-rpx-1.png") }
	div.vinyl.rpx.tune2 { background: no-repeat center url("img/640/vinyl-rpx-2.png") }
	div.vinyl.rpx { left: 292px }
	div.vinyl.penguins { left: 0 }
	div.vinyl.tune1 { top: 205px }
	div.vinyl.tune2 { top: 472px }

	div#envelope {
		background: no-repeat center url("img/640/envelope.png");
		height: 537px;
	}
	form#card {
		padding-top: 107px;
		height: 431px;
		width: 308px;
	}
	div.field {
		width: 229px;
		margin: 0 0 4px 37px;
	}
	div.field input,
	div.field textarea {
		font-size: 12px;
		line-height: 18px;
	}
	div.field textarea {
		height: 107px;
	}
	div.button-field {
		margin: 10px 0 0 0;
	}
	div.button-field button {
		font-size: 16px;
		padding: 4px 10px 2px 10px;
	}
}

/** GENERAL **/

div#wrapper,
div#players-wrapper {
	position: relative;
	margin: 0 auto;
}

iframe#video {
	position: absolute;
	z-index: 0;
}

div#header {
	pointer-events: none;
}

div#header,
div.players {
	position: relative;
}

/* REPRODUCTORS */

div#banner,
div#logos,
div.happy2013,
div.mini-envelope,
div.vinyl,
audio {
	position: absolute;
}

span.sender-name {
	display: block;
	color: rgb(40,40,40);
	font-weight: bold;
}

div.mini-envelope {
	transform-origin: center top;
	-webkit-transform-origin:top;
	-moz-transform-origin: center top;
}

div.mini-envelope:hover {
	animation: swing 2s infinite ease-in-out;
	-moz-animation: 2s ease 0s normal none infinite swing;
	-webkit-animation: swing 2s infinite ease-in-out;
}

div.vinyl.rolling {
	animation: roll 10s infinite linear;
	-moz-animation: roll 10s infinite linear;
	-webkit-animation: roll 10s infinite linear;
}

/* CARTA */

div#envelope {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 5;
	display: none;
	pointer-events: none;
}

form#card {
	pointer-events: all;
	display: none;
	margin: 0 auto;
	top: 0px;
	position: relative;
}


div.field input , 
div.field textarea {
	width: 100%;
	font-family: Courier New;
	vertical-align: top;
	border: none;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
}

div.field input {
	padding: 0 0 0 5px;
}

div.field textarea {
	resize: none;
	padding: 5px 0 0 5px;
}

div.button-field {
	width: 100%;
	text-align: center;
}

div.button-field button {
	border: none;
	background: none;
	font-family: Courier new;
	font-weight: bold;
	border-radius: 5px;
}

div.button-field button:hover {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.9);
}

